{% extends "layout.html" %}

{%block content %}
<div class="mt-4 p-5 bg-dark text-white rounded">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple website project, created using Python, HTML and CSS as programming languages, and Flask as Web Design framework.</p>
    <hr class="my-4">
    <p>It serves as a basic and introductory piece of work to the Python programming and web development environment, and it's also my first website ever created.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
{% endblock %}